<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648615219899-l6rlvqjgqqof9b6mase24t338k8a6nmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648615219899-l6rlvqjgqqof9b6mase24t338k8a6nmf</string>
	<key>API_KEY</key>
	<string>AIzaSyA2GZTtJo2o3f2TdWJwI8VDjzv0sTa5GIE</string>
	<key>GCM_SENDER_ID</key>
	<string>648615219899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messanger-d6eda</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-d6eda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648615219899:ios:d5c0b23e0cd08322438f9e</string>
</dict>
</plist>